// Colori
$colorGrey : #9ea4a5;
$colorLightGrey : #f6f3f5;
$colorGreen : #1fad96;
$colorDarkBlue: #3f3a64;
$colorFadeBlue: #a9a7b9;
$mostPopular: #f5f1ed;

// font size
$fontLittle: 0.8em;
$fontBig : 3em;

//mixins font awasome css
@mixin awasomeAppend{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    margin: 0px 10px 0px 0px;
} 

//mixin button
@mixin button{
    
    background-color: $colorGreen;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    font-size: $fontLittle;

    

    &:hover{
        background-color: $colorDarkBlue;
    }

}

// mixin section title
@mixin sectionTitle{
    p{
        color: $colorFadeBlue;
    }

    h2{
        color: $colorDarkBlue;
    }
}